**/*.DS_Store
/node_modules
/vocoder/node_modules
/vocoder/.vscode
.vscode
**/*.wav
/dsd-env
vocoder/out/scripts/bash/conda/audiorecorderConst.sh
vocoder/out/scripts/bash/venv/audiorecorderConst.sh
vocoder/out/scripts/bash/conda/audiorecorder.sh
vocoder/out/scripts/bash/venv/audiorecorder.sh
vocoder/out/scripts/bash/done.data