**/*.DS_Store
/node_modules
/vocoder/node_modules
/vocoder/.vscode
/vocoder/out
.vscode
**/*.wav
!beep.wav
/dsd-env
vocoder/src/scripts/bash/conda/audiorecorderConst.sh
vocoder/src/scripts/bash/venv/audiorecorderConst.sh
vocoder/src/scripts/bash/conda/audiorecorder.sh
vocoder/src/scripts/bash/venv/audiorecorder.sh
vocoder/src/scripts/bash/done.data